<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- 导航栏商标 -->
    <div>     
      <a class="navbar-brand" style="color:white" href="/article/article_list/"><i class="fas fa-home"></i></a> 
      <a class="navbar-column" style="color:white" href="/article/article_columnlist/"><i class="fas fa-bars"></i></a>   
    </div>
          
    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav"> 
            <a class="nav-link togithub"style="color:white" href="mailto:danny141024@foxmail.com"><i class="fas fa-envelope"></i></a>
            <a class="nav-link togithub"style="color:white" href="https://github.com/Dannyfontan/"><i class="fab fa-github"></i></a>
            <a class="nav-link toadmin" style="color:white" href="/admin/"><i class="fas fa-clipboard"></i></a>
          
      </ul>
    </div>

  </div>
</nav>